@page "/counter"
@using Sechat.App.ViewModels;
@inject CounterViewModel cvm;

<h1>Counter</h1>

<p role="status">Current count: @cvm.Number</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private void IncrementCount()
    {
        cvm.Number++;
    }
}
